openai==2.16.0
supabase==2.27.3
pinecone-client==6.0.0
anthropic==0.77.1
cohere==5.20.2
google-generativeai==0.8.6
ollama-python==0.1.2
jupyter==1.1.1
pandas==3.0.0
langchain==1.2.8
langchain-openai==1.1.7
langchain-text-splitters==1.1.0
pinecone==8.0.0
dotenv==0.9.9
playwright==1.58.0
sentence-transformers==5.2.2
matplotlib==3.10.8